<div class="user-reviews">
  <figure class="review">
    <blockquote class="review__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cumque ea eius eos excepturi hic illum itaque magnam non omnis porro possimus quasi soluta sunt ut vel, veniam vero voluptate?
    </blockquote>
    <figcaption class="review__user">
      <img [src]="user1Img" alt="User 1" class="review__photo">
      <div class="review__user-box">
        <p class="review__user-name">Nick Smith</p>
        <p class="review__user-date">Feb 23rd, 2023</p>
      </div>
      <div class="review__rating">7.9</div>
    </figcaption>
  </figure>

  <figure class="review">
    <blockquote class="review__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. On omnis porro possimus quasi soluta sunt ut vel, veniam vero voluptate?
    </blockquote>
    <figcaption class="review__user">
      <img [src]="user2Img" alt="User 2" class="review__photo">
      <div class="review__user-box">
        <p class="review__user-name">Mick Louis</p>
        <p class="review__user-date">Jan 13th, 2023</p>
      </div>
      <div class="review__rating">8.6</div>
    </figcaption>
  </figure>
</div>
